/*==================== fonts ======================= */

/*------------ google fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* global css ==================  */

/* =============== General Styling =============  */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  /* padding-top: 74px; */
}

*,
*:focus {
  outline: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none !important;
  color: #1b4878;
}

p {
  margin-bottom: 0;
}

p+p {
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/*****************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  line-height: 1.1;
}

h1,
.h1 {
  font-size: 64px;
}

h2,
.h2 {
  font-size: 48px;
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 27px;
}

h5,
.h5 {
  font-size: 22px;
}

h6,
.h6 {
  font-size: 20px;
}



/******* Helpers ********************************************************************/

/* text colors=== */
.text-brown {
  color: #513018 !important;
}

.text-gold {
  color: #DBBD8C !important;
}

.bg-brown-gradient {
  background: #000000 radial-gradient(50% 50% at 50% 50%, #796250 0%, rgba(121, 98, 80, 0.6) 100%);
}

.bg-brown-gradient-2 {
  background: linear-gradient(180deg, rgba(197, 156, 109, 0.1) 0%, #C59C6D 56.77%, rgba(197, 156, 109, 0.1) 100%);
}

/*************Font Weight****************/

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semi {
  font-weight: 600 !important;
}

/***************************/

.btn {
  position: relative;
  display: inline-block;
  moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none !important;
  padding: 12px 175px;

  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 39px;
  border: 3px solid;

}

.btn:hover {
  transform: scaleX(1.01);
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-1 {
  background: linear-gradient(180deg, #A77F56 0%, #DBBD8C 46.35%, #A77F56 100%);
  color: #ffffff;
  border: 3px solid transparent;

}

.btn-1:hover {
  color: #000000;

}

.btn-2 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(81, 48, 24, 0.5);


}


.btn-2:hover {
  background-color: #513018 !important;
  color: #ffffff;
}

.btn-3 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid #a77f56;
  color: #ffffff;

}

.btn-3:hover {
  background-color: #a77f56;
  color: #000000;
}


/* inputs ============================== */

.form-control {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid transparent;
  border-radius: 0;
  border: 0;
  border: 1px solid transparent;
  color: #796250;
  font-weight: 300;
  font-size: 24px;
  border-radius: 35px;
  padding: 15px 20px;
  height: auto;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.7);
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  color: #796250;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #796250;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #796250;
}


.container {
  max-width: 1300px;
  padding: 0 15px;
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
}

/*****************************/

/* letter spacings  */

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}




/*scrol to top*/

.scrollToTop {
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 23px;
  height: 50px;
  line-height: 45px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 50px;
  z-index: 999;
  background-color: #DBBD8C;
  opacity: 0.8;
}

.scrollToTop:hover,
.scrollToTop:focus {
  background-color: #DBBD8C;
  text-decoration: none;
  outline: none;
  opacity: 1;
  color: #fff;
}

/*Preloader*/
#aa-preloader-area {
  background-color: #F8F8F8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* display: none; */
}

.pulse {
  left: 47%;
  position: relative;
  top: 44%;
}



.pulse:before,
.pulse:after {
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 500px;
  position: absolute;
  border: 5px solid #DBBD8C;
}

.pulse:before {
  -webkit-animation: pulse-outer 0.8s ease-in infinite;
  -moz-animation: pulse-outer 0.8s ease-in infinite;
  animation: pulse-outer 0.8s ease-in infinite;
}

.pulse:after {
  -webkit-animation: pulse-inner 0.8s linear infinite;
  -moz-animation: pulse-inner 0.8s linear infinite;
  animation: pulse-inner 0.8s linear infinite;
}

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-moz-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes pulse-inner {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-moz-keyframes pulse-inner {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
  }

  100% {
    -moz-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes pulse-inner {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}


/* ============================ 
         media queries
============================== */

@media (max-width: 991px) {
  body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

  }


  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 32px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  h6,
  .h6 {
    font-size: 16px;
  }

  .btn {
    font-size: 20px;
    padding: 10px 50px;
  }

}

/* ========================================== */


@media (max-width: 767px) {

  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }

  .btn {
    font-size: 20px;
    padding: 10px 50px;
  }

  .form-control {
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 15px;
  }

}


/* ========================================== */
@media (max-width: 479px) {

  h1,
  .h1 {
    font-size: 28px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }
  .btn {
    font-size: 16px;
    padding: 8px 40px;
}

}