@media (max-width: 1199px) {
  header .primary-menu li {
    padding: 0 8px;
  }
}

@media (max-width: 991px) {
  header {
    padding: 15px 0;
  }
  .primary-menu-outer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 999999;
    transition: all 300ms ease-in;
    visibility: hidden;
  }
  .primary-menu-outer.active {
    left: 0;
    visibility: visible;
  }
  .primary-menu-outer .menu-close {
    position: absolute;
    left: 360px;
    border: 1px solid #1b4878;
    color: #1b4878;
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    top: 10px;
  }
  .menu-open {
    margin-left: auto;
    border: 1px solid #1b4878;
    color: #1b4878;
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    top: 10px;
  }
  .primary-menu {
    background-color: #ffffff;
    max-width: 400px;
    height: 100%;
  }

  .gallery-box .img-box {
    flex: 0 0 50%;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 26px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }

  .sub-title {
    font-size: 16px;
  }

  .banner-content p {
    
    font-size: 20px;
    
  }

  

  .primary-menu {
    max-width: 100%;
    width: 100%;
  }
  .primary-menu-outer .menu-close {
    right: 10px;
    left: auto;
  }

  #BannerSlider .carousel-item img {
    height: 400px;
  }
  .banner-content {
    left: 15px;
    max-width: calc(100% - 30px);
    width: 100%;
    padding: 0;
  }
  .gallery-box .img-box {
    flex: 0 0 100%;
  }
}
