header .primary-menu .logo {
    max-width: 300px;
}

header .primary-menu li a {
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    padding: 50px 14px;
    font-size: 28px;
    font-weight: 300;
}

header .primary-menu li a:hover {
    color: #DBBD8C;
}

header .primary-menu li:last-child {
    padding-right: 0;
}

/* banner ============================== */
#Banner {
    position: relative;
    margin-top: 85px;
    display: flex;
    background: url(../images/banner-bg.jpg) no-repeat center;
    background-size: cover;
}

#Banner .banner-content {
    position: absolute;
    /* top: 50%; */
    left: 0;
    /* transform: translateY(-50%); */
    width: 100%;
    z-index: 1;
    padding: 178px 0;
}

#Banner .banner-img {
    width: 100%;
}

#Banner .banner-img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#Banner .banner-content h1 {
    font-weight: 500;
    line-height: 1.3;
}

#Banner .banner-content h1 .small {
    font-size: 48px;
    font-weight: 300;
    display: block;
}

#Banner .banner-content .banner-content-inner {
    max-width: 60%;
}

#Banner .banner-content .banner-socials {
    margin-top: 110px;
    padding-left: 15px;
}

#Banner .banner-content .banner-socials p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #D1D1D1;
}

#Banner .banner-content .banner-socials .banner-social-icons li+li {
    margin-left: 15px;
}

#Banner .banner-content .banner-socials .banner-social-icons li a {
    display: inline-block;
    transition: all 300ms ease-in;
}

#Banner .banner-content .banner-socials .banner-social-icons li a:hover {
    transform: translateY(-5px);
}

#Banner .banner-video {
    width: 100%;
    opacity: 0.9;
    height: 660px;
    object-fit: cover;
}

/* Discovery =========================== */
#Discovery {
    background: url(../images/discovery-bg.png) no-repeat center fixed;
    background-size: cover;
    padding: 100px 0 114px;
}

#Discovery .container {
    max-width: 1185px;
}

#Discovery .discovery-features .disovery-box .img-icon {
    min-height: 150px;
}

#Discovery .discovery-features .disovery-box h4 {
    text-transform: uppercase;
    min-height: 60px;

}


/* Team =================================== */
#Team {
    padding: 50px 0 85px;
    background: url(../images/bg-white.png) no-repeat center;
    background-size: cover;

}

#Team .container {
    max-width: 1200px;
}

#Team .title span {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Team .title span::after,
#Team .title span::before {
    content: "";
    height: 3px;
    width: 100px;
    display: inline-block;
    background-color: #DBBD8C;
    margin: 0 10px;
}

#Team .team-members-list .team-member-box .member-picture {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}


#Team .team-members-list .team-member-box .member-picture .overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    max-height: 50%;
    height: 50%;
    background-color: rgba(217, 217, 217, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in;
}

#Team .team-members-list .team-member-box .member-picture:hover .overlay {
    bottom: 0;
}

#Team .team-members-list .team-member-box .member-picture .overlay .member-social-icon li+li {
    margin-left: 10px;
}

#Team .team-members-list .team-member-box .member-picture .overlay .member-social-icon li a {
    display: inline-block;

}

#Team .team-members-list .team-member-box p {
    font-size: 16px;
}

/* #Value ============================== */

#Value {
    padding: 85px 0;
    background: url(../images/value-bg.png) no-repeat center fixed;
    background-size: cover;
}

#Value h2 {
    font-size: 40px;
}

#Value p {
    font-weight: 300;
    font-size: 15px;
    max-width: 86%;
}

#Value h4 {
    font-size: 36px;
}

/* Lords ======================= */
#Lords {
    padding: 40px 0;
    background: url(../images/bg-white.png) no-repeat center;
    background-size: cover;
}

#Lords .content {
    max-width: 591px;

}

/* PrivateSale =========================== */
#PrivateSale {
    padding: 85px 0;
    background: url(../images/privatesale.png) no-repeat center;
    background-size: cover;
}

#PrivateSale .content h2 {
    font-size: 40px;
}

#PrivateSale .content h6 {
    font-size: 24px;
    max-width: 63%;
    margin-left: auto;
}

#PrivateSale .content h5 {
    font-size: 36px;

}

/* Roadmap ============================= */
#Roadmap {
    padding: 115px 0 50px;
    background: url(../images/roadmap-bg.png) no-repeat center;
    background-size: cover;
}

#Roadmap .container {
    max-width: 1070px;

}

#Roadmap .timeline-box-list-outer {
    position: relative;
}

#Roadmap .timeline-box-list-outer:before {
    content: "";
    position: absolute;
    top: calc(50% + 15px);
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, rgba(176, 143, 88, 0.1) 0%, #FFE6BE 48.96%, rgba(176, 143, 88, 0.1) 100%);
    transform: translateY(-50%);
}

#Roadmap .timeline-box-list .timeline-box {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(1.42deg, #A77F56 1.09%, rgba(0, 0, 0, 0) 98.69%);
    border: 2px solid;
    border-image-source: linear-gradient(1.42deg, #A77F56 1.09%, rgba(0, 0, 0, 0) 98.69%);
    border-image-slice: 1;
    display: inline-block;
    padding: 20px;
    font-weight: 300;
    position: relative;
}

#Roadmap .timeline-box-list .timeline-box::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000000;
    border: 2px solid #DBBD8C;
    bottom: -51px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
}

#Roadmap .timeline-box-list .timeline-box:nth-child(1) {
    margin-bottom: 80px;
}

#Roadmap .timeline-box-list .timeline-box:nth-child(2) {
    margin-left: 17%;
    margin-bottom: 80px;
}

#Roadmap .timeline-box-list .timeline-box:nth-child(3) {
    margin-left: 30%;
    background: linear-gradient(177.6deg, rgba(0, 0, 0, 0.5) 1.82%, rgba(0, 0, 0, 0.1) 97.89%),
        linear-gradient(180deg, #A77F56 0%, rgba(0, 0, 0, 0) 100%);
}

#Roadmap .timeline-box-list .timeline-box:nth-child(4) {
    margin-left: 23%;
    background: linear-gradient(177.6deg, rgba(0, 0, 0, 0.5) 1.82%, rgba(0, 0, 0, 0.1) 97.89%),
        linear-gradient(180deg, #A77F56 0%, rgba(0, 0, 0, 0) 100%);
}

#Roadmap .timeline-box-list .timeline-box:nth-child(3)::before,
#Roadmap .timeline-box-list .timeline-box:nth-child(4)::before {
    bottom: auto;
    top: -47px;
}


#Roadmap .timeline-box-list .timeline-box h4 {
    font-size: 32px;
}

/* Contacts ============================== */
#Contacts {
    padding: 85px 0;
    background: url(../images/contact-bg.png) no-repeat center;
    background-size: cover;
}

#Contacts .container {
    max-width: 1120px;
}

/* footer ============================== */
footer {
    padding: 50px 0;
    background: url(../images/footer-bg.png) no-repeat center;
    background-size: cover;
}

footer .footer-links .container,
footer .info-links .container,
footer .footer-social-links .container {
    max-width: 1200px;
}

footer .footer-links {
    font-size: 36px;
}

footer .info-links {
    font-size: 32px;
}

footer .footer-social-links ul li+li {
    margin-left: 20px;

}

footer .footer-social-links ul li a {
    transition: all 300ms ease-in;
    display: inline;

}

footer .footer-social-links ul li a:hover {
    transform: translateY(-5px)
}

.info-bar-section {
    padding: 42px 0;
}